<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="../style.css">
    <!-- <script src="../navbar.js" defer></script> -->
    <title>Document</title>
</head>

<body>

    <div class="logo-container animated-logo">
        <img src="images/logo-1.png" alt="Smartque Global logo" class="logo spin-glow" />
        <h1 class="logo-title-gradient">Smartque Tech QMS </h1>
    </div>
    <nav class="navbar">
        <ul role="list" class="navbar--list">
            <li class="navbar--list-item"><a class="navbar--link" href="index.html">Home</a></li>
            <li class="navbar--list-item"><a class="navbar--link" href="services.html">Services</a></li>
            <li class="navbar--list-item"><a class="navbar--link" href="about.html">About</a></li>
            <li class="navbar--list-item"><a class="navbar--link" href="contact.html">Contact</a></li>
            <li class="navbar--list-item"><a class="navbar--link" href="clients.html">Our Clients</a></li>
            <li class="navbar--list-item"><a class="navbar--link" href="team.html">Team</a></li>
            <li class="navbar--list-item"><a class="navbar--link" href="blog.html">Blog</a></li>
        </ul>
        <button type="button" id="closeBtn" class="close-menu button-reset" aria-label="Close menu"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-x-icon lucide-x">
                <path d="M18 6 6 18" />
                <path d="m6 6 12 12" />
            </svg></button>
    </nav>
    <!-- Hamburger Icon -->
    <button type="button" class="hamburger-menu button-reset" id="hamburgerBtn" aria-label="Open menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-menu-icon lucide-menu">
            <path d="M4 12h16" />
            <path d="M4 18h16" />
            <path d="M4 6h16" />
        </svg>
    </button>

</body>

</html>